# GITIGNORE

Resultat/IlluminationGlobale/RaytracingCPU.ppm
dependencies_ima
dependencies_sources
ModelPerso
Models
SOIL
TP_SI_LEMETAYER_SALAUN
SOIL.zip
SyntheseImage.zip
TP_SI_LEMETAYER_SALAUN.zip
RayCasting/Doxygen
RayCasting/project 2010
RayCasting/project 2015
RayCasting/project 2017

